CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
thirdparty/libwb/Makefile
thirdparty/libtiff/Makefile
thirdparty/Makefile
thirdparty/libz/Makefile
thirdparty/libpng/Makefile
thirdparty/liblcms2/Makefile
thirdparty/libwb/build/cmake_install.cmake
thirdparty/cmake_install.cmake
thirdparty/libtiff/cmake_install.cmake
thirdparty/libz/cmake_install.cmake
thirdparty/libpng/cmake_install.cmake
thirdparty/liblcms2/cmake_install.cmake
thirdparty/libwb/build/CMakeFiles
thirdparty/CMakeFiles
thirdparty/libtiff/CMakeFiles
thirdparty/libz/CMakeFiles
thirdparty/libpng/CMakeFiles
thirdparty/liblcms2/CMakeFiles
*.swp
*.cu.ptx
*.cubin
*.ptx
*.sass
*.bin
!*.cpp
!*.c
!*.h
!*.cu
!CMakeLists.txt
